@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    
}
.container{
    height: 100%;
    min-height: 100vh;
    padding: 10px;
    background-color: #3A3335;
}
.todo-app{ 
    height: 60vh;
    width: 100%;
    max-width: 800px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    background: #D0D1AC;
    border-radius: 2.5vh;
    border: 1px solid grey;
}
.todo-app h2{
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 10px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    padding-left: 20px;
    background: #edeef0;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}
button{
    width: 13vh;
    height: 5vh;
    margin-left: 3vh;
    border-radius: 30px;
    font-size: large;
    cursor: pointer;
    outline: none;
    border: none;
    background: orange;
}
button:hover{
    background-color: #6b6868;
}
ul li{
    padding: 12px 8px 12px 50px;
    list-style: none;
    /* background: rgb(95, 99, 107); */
    user-select: none;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(./images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #FF312E;
    line-height: 40px;
    text-align: center;
}
